.app-nav {
  padding: 1rem 0;
  display: inline-block;
  width: 100%;

  ul {
    display: flex;
    justify-content: center;

    @media (min-width: 992px) {
      flex-direction: column;
      position: fixed;
    }

    li {
      margin: 0 1.5rem;
      display: inline-block;

      @media (min-width: 992px) {
        margin: 0 0 3rem;
      }

      span {
        width: 3rem;
        height: 3rem;
        font-size: 2rem;
      }
    }
  }
}