.app-nav {
  padding: 1rem 0;
  display: inline-block;
  width: 100%;
  background-color: var(--default-color);
  box-shadow: 0rem .3rem .5rem .1rem rgba(0, 0, 0, .4);
  
  z-index: 30;

  &.fix{
    position: fixed;
    top:0;
  }

  @media (min-width: 992px) {
    &.fix{position: static;}
    box-shadow: none;
    position: static;
    background-color: transparent;
  }

  ul {
    display: flex;
    position: relative;
    justify-content: center;

    @media (min-width: 992px) {
      flex-direction: column;
      &.fix{
        position: fixed;
        top: 5rem;
        -webkit-animation: move .3s ease-in-out;
        animation: move .3s ease-in-out;
      }
      &.unfix{
        top: 0;
        -webkit-animation: unmove .3s ease;
        animation: unmove .3s ease;
      }
    }


    li {
      opacity: .6;

      &.is-current {
        opacity: 1
      }

      margin: 0 1.5rem;
      display: inline-block;

      @media (min-width: 992px) {
        margin: 0 0 3rem;
      }

      span {
        width: 3rem;
        height: 3rem;
        font-size: 1.5rem;

        @media (min-width: 992px) {
          font-size: 2rem;
        }
      }
    }
  }
}