.page {
  .crt-paper {
    position: relative;
    border-color: #eee;
    background-color: #eee;
  }

  h1 {
    font-size: 1.85rem;
    text-align: center;
    margin-bottom: 3rem;

    @media (min-width:992px) {
      text-align: left;

    }
  }

  margin-top: 15px;

  &:first-child {
    margin-top: 0
  }

  transition: opacity .3s ease-out,
  visibility .3s ease-out,
  -webkit-transform .3s ease-out;
  transition: transform .3s ease-out,
  opacity .3s ease-out,
  visibility .3s ease-out;
  transition: transform .3s ease-out,
  opacity .3s ease-out,
  visibility .3s ease-out,
  -webkit-transform .3s ease-out;

  &.crt-animate {
    visibility: hidden;
    opacity: 0;
    -webkit-transform: translate3d(0, 150px, 0) scale3d(1, 1, 1);
    transform: translate3d(0, 150px, 0) scale3d(1, 1, 1);
  }

  &.crt-animated {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
    transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
  }

  @media (min-width:992px) {
    position: relative;
    z-index: 0;
    margin-bottom: 3px;

  }

  .crt-paper {
    z-index: 3;
    padding: 1.5rem;

    @media (min-width:1200px) {

      padding: 2.5rem;
    }
  }

}