.side-box {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;

  @media (min-width: 992px) {
    position: fixed;
    width: 19rem;
    height: 31rem;
    padding: 1rem 0;
    background: #aaa;
    background-color: var(--primary-color);
    box-shadow: 0rem 0rem 2rem .5rem #111;
  }

  .card {
    text-align: center;
    padding: 1rem 0;
    width: 100%;
    color: var(--primary-text);
    background-color: transparent;

  }

  .avatar {
    border-radius: 50%;
    margin: 1rem 0;
  }

  .card-info {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    height: 8rem;
  }

  ul {
    li {
      display: inline-block;
      margin: 0 1rem;
      font-size: 1.3rem;
    }
  }

  .download {
    font-size: 1.2rem;
    text-align: center;
    padding: 2rem 0;
    width: 100%;
    max-width: 20rem;
    background-color: var(--default-color);

    a {
      text-align: center;

      button {
        font-weight: 400;
        width: 80%;
        background-color: #111;
      }
    }
  }

  @media (min-width: 567px) {}

  @media (min-width: 768px) {}

  @media (min-width: 992px) {}
}