#crt-main-nav .sub-menu a,
#crt-nav-sm,
.crt-logo {
  white-space: nowrap
}

#crt-main-nav ul,
#crt-main-nav-sm ul,
.clear-list {
  list-style: none
}


#crt-main-nav a,
#crt-main-nav-sm a,
.crt-logo,
.crt-nav a {
  text-decoration: none
}


.crt-container {
  width: 100%;
  margin: 0 auto
}

.crt-container-sm {
  padding-left: 20px;
  padding-right: 20px
}


@media (min-width:992px) {

  .crt-container {
    max-width: 810px
  }

  .crt-container-sm {
    padding-left: 0;
    padding-right: 0
  }

  #crt-container {
    background-color: transparent !important
  }

  .crt-nav-on .crt-container-sm {
    margin-right: 56px
  }

  .crt-nav-on .crt-container {
    max-width: 866px
  }

  .crt-side-box-on .crt-paper-cont {
    float: left;
    width: 100%
  }

  .crt-side-box-on .crt-container-sm {
    margin-left: 310px
  }

  .crt-side-box-on .crt-container {
    max-width: 1140px
  }

  .crt-side-box-on.crt-nav-on .crt-container {
    max-width: 1196px
  }

}

@media (min-width:1200px) {
  .crt-side-box-on .crt-container-sm {
    margin-left: 330px
  }
}

@media (max-width:1200px) {
  .crt-side-box-on .crt-container-sm {
    margin-left: 0px
  }
}

@media (max-width:1375px) {
  .crt-sidebar-on.crt-side-box-on.crt-nav-on #crt-header .crt-container-sm {
    margin-right: 0
  }

  .crt-sidebar-on.crt-side-box-on.crt-nav-on #crt-head-col3 {
    width: 70px
  }
}

.crt-head-inner {
  position: static;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom-width: 1px;
  border-bottom-style: solid
}

.crt-head-row {
  display: table;
  width: 100%
}

.crt-head-col {
  display: table-cell;
  vertical-align: middle
}

.crt-logo {
  font-size: 26px;
  line-height: 1;
  display: inline-block
}

.crt-logo img,
.crt-logo span,
.crt-logo svg {
  display: inline-block;
  vertical-align: middle
}

.crt-logo img,
.crt-logo svg {
  max-height: 45px
}

.crt-logo img+span {
  margin-left: 10px
}

@media (min-width:1046px) {
  .crt-nav-on.crt-nav-type1 #crt-sidebar-btn {
    position: absolute;
    right: 0;
    top: 20px
  }
}

@media (max-width:1045px) {
  .crt-nav-on.crt-nav-type1 #crt-head-col3 {
    width: 70px
  }
}

@media (min-width:992px) {
  .crt-head-inner {
    border: none;
    background: 0 0 !important
  }

  .crt-sidebar-on .crt-head-col {
    height: 50px
  }
}


@media (min-width:1376px) {
  .crt-sidebar-on.crt-side-box-on.crt-nav-on #crt-sidebar-btn {
    position: absolute;
    right: 0;
    top: 20px
  }
}

#crt-main-nav a,
#crt-main-nav li {
  position: relative
}



#crt-main-nav {
  font-size: 1em;
  line-height: 1em
}

#crt-main-nav ul {
  margin: 0;
  padding: 0
}

#crt-main-nav>ul>li {
  padding: 10px 0;
  margin-left: 30px;
  display: inline-block
}

#crt-main-nav>ul>li:first-child {
  margin-left: 0
}

#crt-main-nav>ul>li>a {
  font-size: 1.133em;
  font-weight: 700
}

#crt-main-nav>ul>li>.sub-menu {
  top: 100%;
  left: -41px;
  right: auto
}

#crt-main-nav .has-sub-menu>a {
  padding-right: 15px
}

#crt-main-nav .has-sub-menu>a:after {
  content: "\f0d7";
  color: inherit;
  font-size: .8em;
  font-family: icomoon;
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -.5em
}

.crt-nav-type1 .crt-nav-btm,
.crt-nav-type1 .crt-nav-btm:after,
.crt-tooltip:after,
.crt-tooltip:before {
  content: ''
}

#crt-main-nav .sub-menu {
  top: 0;
  right: 100%;
  position: absolute;
  padding: 13px 16px;
  z-index: 999;
  text-align: left;
  min-width: 200px;
  border-radius: 6px;
  box-shadow: 0 0 17px 1px rgba(0, 0, 0, .19);
  visibility: hidden;
  opacity: 0;
  -webkit-transform: translateY(50px);
  -ms-transform: translateY(50px);
  transform: translateY(50px);
  transition: all 450ms cubic-bezier(.23, 1, .32, 1) 0s
}

#crt-nav-sm,
#crt-nav-wrap {
  text-align: center;
  position: relative
}

#crt-main-nav .sub-menu li {
  margin: 8px 0
}

#crt-main-nav .sub-menu a {
  padding: 7px 25px;
  display: block;
  border-radius: 20px
}

#crt-main-nav .sub-menu .has-sub-menu>a:after {
  right: 15px
}

#crt-main-nav li:hover>.sub-menu {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0)
}

#crt-nav-wrap .crt-nav li a:hover,
.crt-nav-type2 .crt-nav li.current a {
  opacity: .5
}

.crt-nav a {
  display: block;
  position: relative
}

.crt-nav .avatar {
  background-color: #30cc81
}

#crt-nav-sm {
  width: 100%;
  padding: 5px;
  overflow-x: scroll;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch
}

#crt-nav-sm li {
  padding: 0 5px;
  display: inline-block;
  vertical-align: middle
}

#crt-nav-sm li a {
  padding: 3px 10px;
  border-bottom: 3px solid transparent
}

#crt-nav-sm li .crt-icon {
  font-size: 34px;
  line-height: 42px
}

#crt-nav-wrap .crt-nav a,
.crt-tooltip {
  line-height: 1em
}

#crt-nav-wrap {
  float: right;
  right: 1px;
  z-index: 4;
  width: 56px
}

#crt-nav-wrap .crt-nav ul {
  z-index: 1;
  position: relative
}

#crt-nav-wrap .crt-nav li {
  padding: 17px 0;
  position: relative
}

#crt-nav-tools,
#crt-nav-wrap .crt-nav li:first-child {
  padding-top: 10px
}

#crt-nav-wrap .crt-nav .crt-icon {
  font-size: 28px
}

#crt-nav-inner {
  transition: top .3s ease-out
}

#crt-nav-scroll {
  overflow-y: auto;
  overflow-x: hidden
}

#crt-nav-scroll .mCSB_scrollTools {
  visibility: hidden !important
}

#crt-nav-tools {
  font-size: 22px
}

#crt-nav-tools .crt-icon {
  display: block
}

.crt-nav-type1 #crt-nav-inner {
  padding-bottom: 20px
}

.crt-nav-type1 #crt-nav,
.crt-nav-type1 #crt-nav-tools {
  padding-right: 10px
}

.crt-nav-type1 .crt-nav-btm {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 0;
  border-bottom: 20px solid transparent;
  border-left: 56px solid transparent;
  z-index: 0
}

.crt-nav-type1 .crt-nav-btm:after {
  position: absolute;
  left: -57px;
  bottom: -11px;
  width: 59px;
  height: 1px;
  -webkit-transform: rotate(-20deg);
  -ms-transform: rotate(-20deg);
  transform: rotate(-20deg);
  z-index: 1
}

.crt-nav-type1 .crt-nav-cont {
  border-width: 1px 1px 0 0;
  border-style: solid;
  padding: 5px 0
}

.crt-nav-type2 #crt-nav,
.crt-nav-type2 #crt-nav-tools {
  padding-left: 10px
}

#crt-main-nav-sm {
  margin-bottom: 20px
}

#crt-main-nav-sm ul {
  padding: 0
}

#crt-main-nav-sm li {
  position: relative
}

#crt-main-nav-sm>ul>li {
  padding: 7px 5px
}

#crt-main-nav-sm>ul>li>a {
  font-size: 1.188em;
  font-weight: 700
}

#crt-main-nav-sm .has-sub-menu>a {
  padding-right: 20px;
  position: relative
}

#crt-main-nav-sm .has-sub-menu>a:after {
  content: "\f0d7";
  color: inherit;
  font-size: .8em;
  font-family: icomoon;
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -.6em
}

#crt-main-nav-sm .has-sub-menu:hover>.sub-menu {
  display: block
}

#crt-main-nav-sm .has-sub-menu .has-sub-menu>a:after {
  margin-top: -.9em
}

#crt-main-nav-sm .sub-menu {
  position: relative;
  display: none;
  margin-top: 8px
}

#crt-main-nav-sm .sub-menu:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  opacity: .1
}

#crt-main-nav-sm .sub-menu li:last-child {
  padding-bottom: 0
}

#crt-main-nav-sm .sub-menu a {
  font-size: .938em;
  display: inline-block;
  margin: 5px 0
}

#crt-main-nav-sm .sub-menu .sub-menu {
  margin-top: 0
}

#crt-main-nav-sm .sub-menu .sub-menu:before {
  display: none
}

@media (max-width:991px) {
  #crt-sidebar-btn {
    background: 0 0 !important;
    box-shadow: none;
    width: auto;
    height: auto
  }

  #crt-sidebar-btn .crt-icon {
    line-height: 1
  }
}

.crt-logo {
  font-family: Pacifico, cursive
}

.crt-nav-type1 .crt-nav li.current a {
  color: #d14b4a
}


#crt-main-nav .sub-menu .current>a,
#crt-main-nav .sub-menu li>a:hover,
#crt-main-nav-sm .sub-menu:before {
  background-color: #d14b4a
}

#crt-nav-sm li.current a {
  border-color: #d14b4a
}

#crt-main-nav .sub-menu a,
#crt-main-nav-sm li.current a,
#crt-main-nav-sm li>a:hover,
#crt-main-nav>ul>li.current>a,
#crt-main-nav>ul>li>a:hover,
.crt-logo,
.crt-nav a {
  color: #fff
}


#crt-main-nav-sm a,
#crt-main-nav>ul>li>a {
  color: #bcbcbc
}

.crt-nav-type1 .crt-nav-cont {
  border-color: #1f1f1f
}

.crt-nav-btm:after {
  background-color: #1f1f1f
}

#crt-container,
#crt-main-nav .sub-menu,
#crt-sidebar-btn,
.crt-head-inner,
.crt-nav-type1 .crt-nav-cont {
  background-color: #373737
}

.crt-nav-type1 .crt-nav-btm {
  border-left-color: #373737
}