.text-upper {
  text-transform: uppercase;
}

p {
  font-size: 1rem;
}

a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
  font-style: none;
  background-color: transparent;
  overflow-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  transition: all .2s ease-out
}

a:hover {
  text-decoration: none
}

.anim {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; 
}

@keyframes move {
  0%   { top: 0;}
  100%   { top: 5rem;}
}

@keyframes unmove {
  0%   { top: 5rem;}
  100%  { top: 0;}
}