.btn {
  background-color: var(--primary-color);
  color: var(--primary-text);

  &.disabled,
  &[disabled] {
    cursor: not-allowed;
    opacity: 0.65;
  }

  &.disabled:hover,
  &[disabled]:hover {
    box-shadow: none;
  }

  span {
    margin-right: 1rem;
  }
}