.app-header {
  width: 100%;
  padding: 1rem 0;
  /* display: flex;
  justify-content: end; */
  background-color: #111;
  position: fixed;
  z-index: 30;

  @media (min-width: 992px) {
    position: static;
    padding: 1.7rem;
    background-color: transparent;
  }

  .head-inner {
    margin: 0;
    width: 100%;

    @media (min-width: 1200px) {
      margin: 0 4rem 0 23rem;
      width: 65%;
    }

    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo-wrap {
      flex-basis: 10rem;
      padding: 0 1rem;
      font-family: Pacifico;
      font-size: 1rem;
      margin: 0 auto;

      @media (min-width: 992px) {
        font-size: 1.3rem;
        margin: 0;
      }

      .logo {

        img {
          width: 25%;
          vertical-align: middle;
          display: inline-block;

          @media (min-width: 992px) {
            width: 30%;
          }
        }

        h2 {
          width: 70%;
          vertical-align: middle;
          display: inline-block;
        }
      }
    }

    .nav-container {
      flex-grow: .5;
      display: none;

      @media (min-width: 992px) {
        display: inline-block;
      }

      ul {
        display: flex;
        justify-content: flex-end;

        li {
          padding: 0 1rem;
          margin-left: 1rem;

          div {
            font-weight: 600;
            font-size: 1.05rem;
            opacity: .8;
            cursor: pointer;
            text-transform: capitalize;
          }
        }
      }
    }
  }

}