.app-header {
  width: 100%;

  .head-inner {
    width: 100%;
    padding: 1rem 0;

    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo-wrap {
      flex-basis: 10rem;
      padding: 0 1rem;
      font-family: Pacifico;
      font-size: 1.3rem;

      .logo {

        img,
        h2 {
          width: 70%;
          vertical-align: middle;
          display: inline-block;
        }

        img {
          width: 30%;
        }
      }
    }

    .nav-container {
      flex-grow: .5;
      display: none;

      @media (min-width: 768px) {
        display: inline-block;
      }

      ul {
        display: flex;
        justify-content: flex-end;

        li {
          padding: 0 1rem;
          margin-left: 1rem;
        }
      }
    }
  }

  .nav-sm {
    padding: 1rem 0;
    display: inline-block;
    width: 100%;

    @media (min-width: 768px) {
      display: none;
    }

    ul {
      display: flex;
      justify-content: center;

      li {
        margin: 0 1.5rem;
        display: inline-block;

        @media (min-width: 567px) {
          margin: 0 2rem;
        }

        a {
          width: 3rem;
          height: 3rem;
          font-size: 2rem;
        }
      }
    }
  }

  @media (min-width: 567px) {}

  @media (min-width: 768px) {}

  @media (min-width: 992px) {}
}