.app {
  height: 100vh;
  color: var(--primary-text);

  .chevron {
    background-color: var(--primary-color);
    padding: 1rem;
    border-radius: 2rem;
    position: fixed;
    right: 6%;
    bottom: 4%;

    @media (min-width: 992px) {
      right: 3%;
      bottom: 4%;
    }
  }
}